<form [formGroup]="accountForm" id="accountForm" #dialogFormTag="ngForm" [formGroup]="accountForm"
  class="flex flex-column" (ngSubmit)="onSubmit(accountForm)">
  <div class="field">
    <label for="nom" class="small">Nom*</label>
    <input class="w-full" id="nom" type="text" pInputText [formControlName]="'nom'" />
  </div>
  <div class="field">
    <label for="prenom" class="small">Prenom*</label>
    <input class="w-full" id="prenom" type="text" pInputText [formControlName]="'prenom'" />
  </div>
  <div class="field ">
    <label for="email" class="small">Email*</label>
    <input class="w-full" id="email" type="email" pInputText [formControlName]="'email_user'" />
  </div>

  <div class="field d-flex flex-column">
    <label for="password" class="small">Mot de passe*</label>
    <!-- <input class="w-full" type="password" pInputText [formControlName]="'password_user'" /> -->
    <p-password styleClass="w-100" [formControlName]="'password_user'" [feedback]="false"
      [toggleMask]="true"></p-password>
  </div>
  <div class="bg-gray-100 small text-center p-3 mb-3" *ngIf="displayError">
    <span class="font-semibold">{{errorMessage}}.</span> Appuyez sur <a href="" class="underline">Mot
      de
      passe oublié</a> si vous n'arrivez pas à vous connecter.
  </div>
  <div class="pt-1 mb-4">
    <!-- <button pButton class="w-full" styleClass="p-button-lg" pRipple type="button" label="Créer le compte"
      ></button> -->
    <p-button label="Créer le compte" (click)="onSubmit(accountForm)"
      styleClass="p-button-lg w-100 font-normal"></p-button>
  </div>
  <p class="text-center">*Champs obligatoires</p>
</form>