<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nav class="navbar navbar-expand-lg w-100 justify-content-around bg-white position-fixed hide-on-med-and-down"
  style="z-index: 3;">
  <div class="w-100 container">
    <div class="row w-100">
      <h3 class="col-2 d-flex align-items-center text-left pointer mb-0 p-0"><a
          class="no-underline text-primary mb-0 ml-4 d-flex align-items-center flex-column" href="">
          <img src="assets/images/logo/logo.png" alt="" srcset="" style="height: 75px;">
        </a>
      </h3>
      <div class="col-5 d-flex align-items-center">
        <ul class="navbar-nav text-primary">
          <li class="dropdown-collection">
            <span>
              <i class="pi pi-info-circle"></i>
              <a href="https://www.aas.sn/"
                class="h6 text-primary mr-5 hvr-underline-from-left dropdown-collection ml-2">Qui
                sommes
                nous</a>
            </span>
          </li>
          <li class="dropdown-collection">
            <span>
              <i class="pi pi-exclamation-triangle"></i>
              <a href="/contact" class="h6 text-primary mr-5 hvr-underline-from-left dropdown-collection ml-2">Signaler
                un incident</a>
            </span>
          </li>
          <li class="dropdown-collection">
            <span>
              <i class="pi pi-question-circle"></i>
              <a href="/faqs" class="h6 text-primary mr-5 hvr-underline-from-left dropdown-collection ml-2">FAQs</a>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-5 d-flex align-items-center justify-content-end" *ngIf="showbutton">
        <p-button routerLink="/subscription" label="Souscrire a mon assurance auto" icon="pi pi-check"
          styleClass="mr-2 p-button-sm"></p-button>
        <p-button *ngIf="user" routerLink="/user-space" label="Acceder a mon espace"
          styleClass="p-button-outlined p-button-info p-button-sm"></p-button>
        <p-button *ngIf="!user" routerLink="/auth" label="Me connecter"
          styleClass="p-button-outlined p-button-info p-button-sm"></p-button>
        <span *ngIf="user" (click)="sideBarMenu = true"
          class="pointer text-decoration-none fs-1 text-primary card-badge hvr-bob mb-0 ml-3"
          title="Mes notifications"><i class="pi pi-bell mr-2 fs-4" pBadge [value]="'2'"></i> </span>
      </div>
    </div>
  </div>
</nav>
<p-sidebar [(visible)]="sideBarMenu" position="right" styleClass="article-sidebar">
  <ng-template pTemplate="header">
    <h3 class="fs-4 w-100">Vos notifications</h3>
  </ng-template>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Notification 1</div>
        Message
      </div>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Notification 2</div>
        Message
      </div>
    </li>
  </ol>
</p-sidebar>