@import "~swiper/swiper-bundle.css";
// @import '~swiper/components/pagination/pagination.scss';

.swiper-button-prev {
  &:after {
    font-size: 3em !important;
  }
}

.swiper-button-next {
  &:after {
    font-size: 3em !important;
  }
}

/* cube effect */
.swiper-cube-effect {
  &.swiper-container {
    width: 300px;
    left: 0%;
    margin-left: -150px;
    margin-top: -12px;

    .swiper {
      &.s-wrapper {
        width: 300px;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 38px !important;
  height: 50px !important;
}

.swiper-coverflow.swiper-container .swiper-slide {
  width: 300px !important;
}

//!Fix: cursor pagination handle
.s-wrapper .swiper-pagination .swiper-pagination-handle {
  cursor: default !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
.swiper-pagination {
  z-index: 9999;
  width: 100px;
  // height: 100px;
  // border: 3px solid red;
}
