<app-header [showbutton]="false"></app-header>
<main class="m-2 bg-gray-200 min-vh-100">
  <div class="container mt-4 pt-4 bg-white p-4">
    <div class="row">
      <div class="col-1 d-flex align-items-center justify-content-center">
        <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded" (click)="updateStep(currentStep -1)"></p-button>
      </div>
      <div class="col-11">
        <p-card styleClass="w-11">
          <div class="d-flex align-items-center">
            <span class="mr-2">ETAPE {{currentStep}} / 4</span>
            <p-progressBar styleClass="w-12" [value]="currentStep * 25"></p-progressBar>
          </div>
        </p-card>
      </div>
    </div>
    <div class="w-100 mt-4" *ngIf="currentStep === 1">
      <h3 class="text-center">Quel est la marque de la voiture ?</h3>
      <div class="d-flex justify-content-center w-100 h-30rem flex-row">
        <p-listbox [options]="cars" [(ngModel)]="assurance.carName" optionLabel="brand" optionValue="brand"
          [filter]="true" styleClass="w-100 h-100 overflow-auto" (onClick)="selectedCarName()"></p-listbox>
        <p-card styleClass="ml-4 w-20rem" *ngIf="assurance.carName && assurance.carModel">
          <h6>Votre Voiture</h6>
          <div><i>Marque: {{assurance.carName}}</i></div>
          <div><i>Model: {{assurance.carModel}}</i></div>
        </p-card>
      </div>
      <div class="d-flex justify-content-center w-100 h-10rem flex-row mt-4">
        <p-button label="Continuer" icon="pi pi-arrow-right" iconPos="right" (click)="updateStep(2)"></p-button>
      </div>
    </div>
    <div class="w-100 mt-4" *ngIf="currentStep === 2">
      <div class="container w-22rem">
        <h5 class="text-center">Quel est le carburant ?</h5>

        <div class="d-flex  justify-content-center align-items-center mt-5">
          <p-card [styleClass]="assurance.fuel === 'Essence' ? 'pointer hvr-grow bg-blue-100' : 'pointer hvr-grow'"
            (click)="assurance.fuel = 'Essence'">
            <div class="flex align-items-center">
              <p-radioButton name="fuel" value="Essence" [(ngModel)]="assurance.fuel" inputId="fuel"></p-radioButton>
              <label for="fuel" class="ml-2">Essence</label>
            </div>
          </p-card>
          <p-card
            [styleClass]="assurance.fuel === 'Gasoil' ? 'pointer hvr-grow bg-blue-100 ml-4' : 'pointer hvr-grow ml-4'"
            styleClass="pointer hvr-grow ml-5" (click)="assurance.fuel = 'Gasoil'">
            <div class="flex align-items-center">
              <p-radioButton name="fuel" value="Gasoil" [(ngModel)]="assurance.fuel" inputId="Gasoil"></p-radioButton>
              <label for="Gasoil" class="ml-2">Gasoil</label>
            </div>
          </p-card>
        </div>
        <div class="flex flex-column gap-2 mt-5 mb-4">
          <h5 class="text-center mt-4 mb-4">Le numero d'immatriculation de votre vehicule</h5>
          <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="assurance.immatriculation" />
        </div>
        <h5 class="text-center mt-4 mb-4">Combien de places assises ?</h5>
        <p-inputNumber [(ngModel)]="assurance.seats" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
          spinnerMode="horizontal" [step]="1" incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"></p-inputNumber>
        <h5 class="text-center mt-5 mb-5">La puissance fiscal (CV) ?</h5>
        <p-inputNumber [(ngModel)]="assurance.fiscalPower" [showButtons]="true" buttonLayout="horizontal"
          inputId="horizontal" spinnerMode="horizontal" [step]="1" incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"></p-inputNumber>
        <h5 class="text-center mt-5 mb-5">Quel age a votre vehicule ?</h5>

        <div class="d-flex flex-column justify-content-center align-items-center mt-5">
          <p-card
            [styleClass]="assurance.carAge === 'p5' ? 'pointer hvr-grow bg-blue-100 w-15rem' : 'pointer hvr-grow w-15rem'"
            (click)="assurance.carAge = 'p5'">
            <div class="flex align-items-center">
              <p-radioButton name="carAge" value="p5" [(ngModel)]="assurance.carAge" inputId="p5"></p-radioButton>
              <label for="p5" class="ml-2">Moins de 5 ans</label>
            </div>
          </p-card>
          <p-card
            [styleClass]="assurance.carAge === 'e5rt10' ? 'pointer hvr-grow bg-blue-100 mt-3 w-15rem' : 'pointer hvr-grow mt-3 w-15rem'"
            (click)="assurance.carAge = 'e5rt10'">
            <div class="flex align-items-center">
              <p-radioButton name="carAge" value="e5rt10" [(ngModel)]="assurance.carAge" inputId="p5"></p-radioButton>
              <label for="e5rt10" class="ml-2">Entre 5 et 10 ans</label>
            </div>
          </p-card>
          <p-card
            [styleClass]="assurance.carAge === 'p10' ? 'pointer hvr-grow bg-blue-100 mt-3 w-15rem' : 'pointer hvr-grow mt-3 w-15rem'"
            (click)="assurance.carAge = 'p10'">
            <div class="flex align-items-center">
              <p-radioButton name="carAge" value="p10" [(ngModel)]="assurance.carAge" inputId="p5"></p-radioButton>
              <label for="p10" class="ml-2">Plus de 10 ans</label>
            </div>
          </p-card>

        </div>
        <h5 class="text-center mt-5 mb-5">Date de mise en circulation</h5>
        <div class="w-100 d-flex justify-content-center">
          <p-calendar [(ngModel)]="assurance.circulationDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>

      </div>
      <div class="d-flex justify-content-center w-100 h-10rem flex-row mt-4">
        <p-button label="Continuer" icon="pi pi-arrow-right" iconPos="right" (click)="updateStep(3)"></p-button>
      </div>
    </div>
    <div class="w-100 mt-4" *ngIf="currentStep === 3">
      <div class="container w-22rem">
        <h5 class="text-center mt-5 mb-5">Quel est la valeur de votre vehicule neuf ?</h5>
        <div class="p-inputgroup">
          <!-- <input type="text" pInputText placeholder="" [(ngModel)]="assurance.newCarPrice" />
          <span class="p-inputgroup-addon">FCFA</span> -->
          <p-inputNumber inputId="integeronly" [(ngModel)]="assurance.newCarPrice"> </p-inputNumber>

        </div>
        <h5 class="text-center mt-5 mb-5">Que vaut elle aujourd'hui sur le marché ?</h5>
        <div class="p-inputgroup">
          <!-- <input type="text" pInputText placeholder="" [(ngModel)]="assurance.actualCarPrice" />
          <span class="p-inputgroup-addon">FCFA</span> -->
          <p-inputNumber inputId="integeronly" [(ngModel)]="assurance.actualCarPrice"> </p-inputNumber>

        </div>
        <div class="d-flex justify-content-center w-100 h-10rem flex-row mt-4">
          <p-button label="Continuer" icon="pi pi-arrow-right" iconPos="right" (click)="updateStep(4)"></p-button>
        </div>
      </div>
    </div>
    <div class="w-100 mt-4" *ngIf="currentStep === 4">
      <div class="container w-22rem">
        <h4 class="text-center mt-5 mb-5">Votre tarif est pret !</h4>
        <h6 class="text-center mt-5 mb-5">Nous avons besoin de vos coordonnes pour la suite ..</h6>
        <div class="row" *ngIf="should_login">
          <div class="col-lg-4 col-sm-12"></div>
          <div class="col-lg-12 col-sm-12">
            <div class="card p-5 text-center mb-4">
              <h5 class="mb-3">Nouveau Client ?</h5>
              <!-- <button class="btn-primary btn"></button> -->
              <p-button label="Créer un compte" (click)="should_login = false"></p-button>
            </div>
            <div class="card p-5 ">
              <h5 class="mb-3 text-center">Déjà client ?</h5>
              <app-login-card (userUpdated)="userUpdated($event)"></app-login-card>
              <a href="" class="mt-3 text-center">Mot de passe oublié ?</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12"></div>
        </div>
        <div class="row" *ngIf="!should_login">
          <!-- <div class="col-lg-4 col-sm-12"></div> -->
          <div class="col-lg-12 col-sm-12">
            <h1 class="text-center">Creer un compte</h1>
            <div class="card p-1 text-center mb-4 bg-gray-200">
              <b class="mb-2 mt-2">Vous avez déjà un compte ?</b>
              <u aria-hidden="true" (click)="should_login = true" (keyup)="should_login = true">Connectez-vous ici.</u>
            </div>
            <app-registration-card (userUpdated)="userUpdated($event)"></app-registration-card>


          </div>
          <!-- <div class="col-lg-4 col-sm-12"></div> -->
        </div>
        <div class="d-flex justify-content-center w-100 h-10rem flex-row mt-4">
          <p-button label="Generer ma formule" icon="pi pi-arrow-right" iconPos="right" routerLink="/tarif"></p-button>
        </div>
      </div>
    </div>
  </div>
</main>
<p-dialog [header]="'Quel est le model de votre ' + assurance.carName + ' ?'" [(visible)]="showModelModal"
  [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closeOnEscape]="false"
  [closable]="false">
  <p-listbox [options]="carsModels" [(ngModel)]="assurance.carModel" optionLabel="brand" optionValue="brand"
    [filter]="true" styleClass="w-100 h-100 overflow-auto" (onClick)="showModelModal = false"></p-listbox>
</p-dialog>
<app-footer></app-footer>