<footer class="main-footer pb-5 mt-5">
  <div class="bg-gray-100 text-black pt-4 pb-5 mt-5 info-section">
    <div class="container">
      <div class="row">
        <div class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex align-items-start justify-content-start">
          <aside class="widget">
            <p class="mb-3 font-bold">Infos pratiques<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <!-- <li class="menu-item mb-4"><a href="/apropos">Qui sommes-nous ?</a></li>
              <li class="menu-item mb-4"><a href="/apropos#engagements">Nos Engagements</a></li> -->
              <li class="menu-item mb-4"><a href="/apropos">Qui sommes nous ?</a></li>
              <li class="menu-item mb-4"><a href="/contact">Nous contacter</a></li>
              <li class="menu-item mb-4"><a href="/faqs#delivery">Livraison et Retours</a></li>
              <li class="menu-item mb-4"><a href="/solutions-de-paiement">Moyens de paiement</a></li>
              <li class="menu-item mb-4"><a href="/cgv">Les CGV</a></li>
              <li class="menu-item mb-4"><a href="/mentions-legales">Mentions légales</a></li>
              <li class="menu-item mb-4"><a href="/politique-de-protection-des-donnees">Protection des données</a></li>
              <li class="menu-item mb-4"><a href="/politique-des-cookies">Gestion des cookies</a></li>
              <!-- <li class="menu-item mb-4"><a href="/politique-expedition">Politique d'expédition</a></li> -->
            </ul>
          </aside>
        </div>
        <div class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex align-items-start justify-content-start">
          <aside class="widget">
            <p class="mb-3 font-bold">Nos avantages<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <li class="menu-item mb-4"><a href="/avantages">Paiements en plusieurs fois</a></li>
              <li class="menu-item mb-4"><a href="/avantages">Garantie produit</a></li>
              <li class="menu-item mb-4"><a href="/solutions-de-paiement">Satisfait ou remboursé</a></li>
              <li class="menu-item mb-4"><a href="/avantages">Service après vente</a></li>
              <!-- <li class="menu-item mb-4"><a href="/faqs#delivery">Retours et livraisons</a></li>
              <li class="menu-item mb-4"><a href="/mentions-legales">Nos mentions légales</a></li>
              <li class="menu-item mb-4"><a href="/faqs">Foire aux questions</a></li>
              <li class="menu-item mb-4"><a href="/politique-expedition">Politique d'expédition</a></li>
              <li class="menu-item mb-4"><a href="/politique-de-protection-des-donnees">Politique de protection des
                  données</a></li> -->
            </ul>

          </aside>
        </div>
        <div
          class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex flex-column align-items-start justify-content-start">
          <aside class="widget">
            <p class="mb-3 font-bold">Nos engagements<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">

              <li class="menu-item mb-4"><a href="/apropos">Nos valeurs</a></li>
              <li class="menu-item mb-4"><a href="/avantages">Notre philisophie</a></li>
              <li class="menu-item mb-4"><a href="/avantages">Nos engagements</a></li>
              <li class="menu-item mb-4"><a href="/apropos">Nos certifications</a></li>
              <li class="menu-item mb-4"><a href="/">Marque éco responsable</a></li>
              <!-- <li class="menu-item mb-4"><a href="/">FAQ Développement Durable</a></li>
              <li class="menu-item mb-4"><a href="/">Certification FSC®</a></li>
              <li class="menu-item mb-4"><a href="/">L'atelier Circulaire</a></li>
              <li class="menu-item mb-4"><a href="/">Certification FSC®</a></li>
              <li class="menu-item mb-4"><a href="/">L'atelier Circulaire</a></li>
              <li class="menu-item mb-4"><a href="/">Nos produits certifiés FSC®</a></li> -->
            </ul>
            <!-- <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <li *ngFor="let collection of collections" class="menu-item mb-4"><a
                  [href]="'/categorie/'+collection.id_collection">{{collection.nom}}</a></li>
            </ul> -->
          </aside>

        </div>
        <div class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex align-items-start justify-content-start">
          <aside class="widget">
            <p class="mb-3 font-bold">Réseaux sociaux<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <li class="menu-item mb-4"><a href="https://www.facebook.com/people/LeBoMeuble/100090413095902/"
                  target="_blank">Facebook</a></li>
              <li class="menu-item mb-4"><a href="https://twitter.com/lebomeuble?s=11&amp;t=LpoRO2x2dHZLv3qkvMzHSA"
                  target="_blank">Twitter</a></li>
              <li class="menu-item mb-4"><a href="https://www.youtube.com/@LeBoMeuble" target="_blank">Youtube</a></li>
              <li class="menu-item mb-4"><a
                  href="https://www.tiktok.com/@lebomeuble?_d=secCgYIASAHKAESPgo8S7vF4BfolefhzyE220yidPGKJbGc%2FtvZ38xKqiajVeEdEn8rtJX%2BvUcfanNHunnVqcpCnEwwBI19K4TmGgA%3D&amp;object_id=7205887161237128198&amp;page_open_method=scan_code&amp;schema_type=4&amp;sec_uid=MS4wLjABAAAAhHvI8KRF2kkQzdKHtnWn8b1SBI0povRYhfjgIE7vH3YrczrZVxZxuMTKi9p0scbH&amp;share_app_id=1233&amp;share_author_id=7205887161237128198&amp;share_uid=7205887161237128198&amp;tt_from=scan_code&amp;utm_campaign=client_scan_code&amp;utm_medium=1&amp;utm_source=scan_code&amp;_r=1"
                  target="_blank">Tiktok</a></li>
              <li class="menu-item mb-4"><a href="https://www.instagram.com/lebomeuble/?igshid=YmMyMTA2M2Y%3D"
                  target="_blank">Instagram</a></li>
            </ul>

          </aside>
        </div>
        <!-- <div class="item-footer col-lg-4 col-md-4 text-center d-flex align-items-center justify-content-center ">
          <aside class="widget widget_logo ">
            <div class="logo">

              <a class="site-title fs-1 link-offset-2 link-underline link-underline-opacity-0" href="/"
                itemprop="url">LeBoMeuble</a>

              <br><br> Du Lundi au samedi de 10h30 à 19h30 <br>et le dimanche de 13h00 à 19h00<br><br>
              <span style="font-size:16px;font-weight:bold;"> Suivez-nous sur :</span>

            </div>

          </aside>
        </div>


        <div class="item-footer col-lg-2 col-md-2 text-center pl-3">
          <aside id="block_63357b1b-af20-41e4-af59-26322e9c5ba6" class="widget widget_nav_menu ">
            <div class="menu_footer widget_footer">
              <ul class="menu list-unstyled lg:text-left md:text-center sm:text-center xs:text-center">
                <li class="menu-item mb-4"><a href="/cgv">CGV</a></li>
                <li class="menu-item mb-4"><a href="/mentions-legales">Mentions légales</a></li>
                <li class="menu-item mb-4"><a href="/politique-de-protection-des-donnees">Politique de protection
                    des
                    données</a></li>
              </ul>
            </div>
          </aside>
        </div>


        <div class="item-footer col-lg-2 col-md-2 text-center pl-3 ">
          <aside id="block_fccb521b-4131-4a1b-96f5-2ca1d7a8ff72" class="widget widget_nav_menu ">
            <div class="menu_footer widget_footer">
              <ul class="menu list-unstyled lg:text-left md:text-center sm:text-center xs:text-center">
                <li *ngFor="let collection of collections" class="menu-item mb-4"><a
                    [href]="'/categorie/'+collection.id_collection">{{collection.nom}}</a></li>
              </ul>
            </div>
          </aside>
        </div> -->

      </div>
    </div>


  </div>
  <div class="bg-black text-white pt-4 pb-5 mt-0">
    <img src="assets/images/logo/Mediamodifier-Design.svg" alt="">
    <div class="container">
      <div class="row hide-on-med-and-down">
        <!-- <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
          <li *ngFor="let collection of collections" class="menu-item mb-4"><a
              [href]="'/categorie/'+collection.id_collection">{{collection.nom}}</a></li>
        </ul> -->

      </div>
      <div class="row">
        <div class="col-12 text-white">
          <h6 class="text-white"><a href="" style="color:white">Plan du site</a></h6>
        </div>
        <div class="col-12 hide-on-med-and-down ">
          <div class="item-footer d-flex align-items-start justify-content-start text-left ">
            <div class="content ">
              <a href="/solutions-de-paiement" class="d-flex justify-content-around">
                <div class="item">
                  <img class=" ls-is-cached lazyloaded" src="../../../assets/images/misc/card.png"
                    data-src="../../../assets/images/misc/card.png" alt="CB">
                </div>
                <div class="item">
                  <img class=" ls-is-cached lazyloaded" src="../../../assets/images/misc/paypal.png"
                    data-src="../../../assets/images/misc/paypal.png" alt="PayPal">
                </div>
                <div class="item">
                  <img class=" ls-is-cached lazyloaded" src="../../../assets/images/misc/visa.png"
                    data-src="../../../assets/images/misc/visa.png" alt="Visa">
                </div>
                <div class="item">
                  <img class=" ls-is-cached lazyloaded" src="../../../assets/images/misc/klarna.png"
                    data-src="../../../assets/images/misc/klarna.png" alt="Visa">
                </div>

              </a>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <div class="footer-note border-top-1 bg-black">
    <div class="container  text-center text-muted p-3">
      <span>© Copyright {{date}} LeBoMeuble</span>
    </div>
  </div>
</footer>