<footer class="main-footer pb-5 mt-5">
  <div class="bg-gray-100 text-black pt-4 pb-5 mt-5 info-section">
    <div class="container">
      <div class="row">
        <div
          class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex flex-column align-items-start justify-content-start">
          <aside class="widget" style="text-align: justify;">
            <img src="assets/images/logo/logo.png" alt="" style="height: 200px; ">
            <p>L’A.A.S. est une association regroupant l’ensemble des sociétés d’assurance et ayant pour objet principal
              de faire la promotion de l’assurance et de sauvegarder les intérêts de ses membres</p>
          </aside>

        </div>
        <div class="item-footer  col-lg-3 col-md-12 col-12 text-left d-flex align-items-start justify-content-start">
          <aside class="widget pl-5">
            <p class="mb-3 font-bold">Infos pratiques<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <!-- <li class="menu-item mb-4"><a href="/apropos">Qui sommes-nous ?</a></li>
              <li class="menu-item mb-4"><a href="/apropos#engagements">Nos Engagements</a></li> -->
              <li class="menu-item mb-4"><a href="/apropos">Qui sommes nous ?</a></li>
              <li class="menu-item mb-4"><a href="/contact">Nous contacter</a></li>
              <li class="menu-item mb-4"><a href="/cgv">Les CGV</a></li>
              <li class="menu-item mb-4"><a href="/mentions-legales">Mentions légales</a></li>
              <li class="menu-item mb-4"><a href="/politique-de-protection-des-donnees">Protection des données</a></li>

            </ul>
          </aside>
        </div>
        <div class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex align-items-start justify-content-start">
          <aside class="widget">
            <p class="mb-3 font-bold">Nos avantages<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <li class="menu-item mb-4"><a href="/avantages">Paiements en plusieurs fois</a></li>
              <li class="menu-item mb-4"><a href="/avantages">Garantie produit</a></li>
            </ul>

          </aside>
        </div>

        <div class="item-footer col-lg-3 col-md-12 col-12 text-left d-flex align-items-start justify-content-start">
          <aside class="widget">
            <p class="mb-3 font-bold">Réseaux sociaux<br></p>
            <ul class="menu list-unstyled lg:text-left md:text-left sm:text-center xs:text-center">
              <li class="menu-item mb-4"><a href="https://www.facebook.com/people/ass/100090413095902/"
                  target="_blank">Facebook</a></li>
              <li class="menu-item mb-4"><a href="https://twitter.com/ass?s=11&amp;t=LpoRO2x2dHZLv3qkvMzHSA"
                  target="_blank">Twitter</a></li>
              <li class="menu-item mb-4"><a href="https://www.youtube.com/@ass" target="_blank">Youtube</a></li>
              <li class="menu-item mb-4"><a
                  href="https://www.tiktok.com/@ass?_d=secCgYIASAHKAESPgo8S7vF4BfolefhzyE220yidPGKJbGc%2FtvZ38xKqiajVeEdEn8rtJX%2BvUcfanNHunnVqcpCnEwwBI19K4TmGgA%3D&amp;object_id=7205887161237128198&amp;page_open_method=scan_code&amp;schema_type=4&amp;sec_uid=MS4wLjABAAAAhHvI8KRF2kkQzdKHtnWn8b1SBI0povRYhfjgIE7vH3YrczrZVxZxuMTKi9p0scbH&amp;share_app_id=1233&amp;share_author_id=7205887161237128198&amp;share_uid=7205887161237128198&amp;tt_from=scan_code&amp;utm_campaign=client_scan_code&amp;utm_medium=1&amp;utm_source=scan_code&amp;_r=1"
                  target="_blank">Tiktok</a></li>
              <li class="menu-item mb-4"><a href="https://www.instagram.com/ass/?igshid=YmMyMTA2M2Y%3D"
                  target="_blank">Instagram</a></li>
            </ul>

          </aside>
        </div>

      </div>
    </div>


  </div>
  <div class="footer-note border-top-1 bg-black">
    <div class="container text-white text-center p-3">
      <small>© Copyright {{date}} AAS - Réalisation : Made with 💖 by ATOS SENEGAL S.A</small>
    </div>
  </div>
</footer>