<app-header></app-header>
<main class="m-2 ">
  <div class="row mt-4 mb-0 pb-0">
    <div class="col-6 d-flex align-items-center justify-content-center text-center">
      <h1>Bienvenue sur la plateforme d'assurace auto de l'ASS</h1>
    </div>
    <div class="col-6 reasons">
      <div class="row">
        <div class="col-3">
          <img src="assets/images/misc/icon-wallet-blue.svg" alt="">
        </div>
        <div class="col-9">
          <h4>Faites des économies</h4>
          <p>Vous avez sans doute plein d'idées pour utiliser autrement votre argent.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="assets/images/misc/icon-compare-blue.svg" alt="">
        </div>
        <div class="col-9">
          <h4>Choisissez la meilleure offre</h4>
          <p>Pas de temps à perdre ? Nous mettons maximum 2 min pour comparer plus de 30 marques.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="assets/images/misc/security.png" alt="">
        </div>
        <div class="col-9">
          <h4>Nous vous protegons a tout moment</h4>
          <p>Nous garantissons la sécurité/disponibilités de vos donnes à tout moment</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="assets/images/misc/icon-tchat-blue.svg" alt="">
        </div>
        <div class="col-9">
          <h4>Posez toutes vos questions</h4>
          <p>Il n'y a pas de question bête, nous sommes là pour ça.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax row pt-5 pb-5 d-flex align-items-center justify-content-center text-center">
    <p-card routerLink="/subscription" styleClass="hvr-bob home-card pointer bg-blue-400 text-white-alpha-90">
      <h5>Obtenir mon assurance auto</h5>
    </p-card>
  </div>
</main>
<app-footer></app-footer>